.top-bar-main {
  background-color: #3b2819;
}
.top-bar-main-col1,
.top-bar-main-col2,
.top-bar-main-col3 {
  flex: 1;
}
.top-bar-main-col1-left-span,
.top-bar-main-col2-left-span {
  color: #f1b939;
}
.top-bar-main-col1-right-span,
.top-bar-main-col2-right-span {
  color: #fff;
}
.top-bar-main-col3 > div {
  color: #fff;
}

.header-section,
.how-it-works-section {
  background-color: #f1b939;
}
.header-section-row1-nav {
  /* flex: 1; */
}
.header-section-row1-logoDiv {
  width: 6vw;
}
@media only screen and (max-width: 480px) {
  .header-section-row1-logoDiv {
    width: 8vw;
  }
}
.header-section-row1-logoDiv > img {
  max-width: 100%;
}
.header-section-row1-nav-item-text,
.header-section-row2-nav-item-textLast {
  color: #d6394a;
  font-weight: 600;
}
.header-section-row1-nav-item-button {
  background-color: #d6394a;
  color: #fff;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  font-weight: 600;
}
.header-section-row1-toggle > i {
  color: #fff;
}
.header-section-row2-nav-item-text,
.how-it-works-section-main-heading-div {
  color: #3b2819;
  font-weight: 600;
}
.how-it-works-section-main-heading-div > h1 {
  font-size: 37px;
}
.how-it-works-section-image {
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 75px;
}
.how-it-works-section-headingDiv > h2 {
  font-size: 21px;
  font-weight: 700;
  color: #d6394a;
}
.how-it-works-section-paraDiv {
  color: #3b2819;
  font-size: 13px;
}

.side-drawer {
  min-height: 100vh;
  position: fixed;
  background-color: rgb(255, 255, 255, 0.9);
  z-index: 100;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  width: 0px;
}
.side-drawer-div {
  max-width: 80%;
  min-height: 100vh;
  background-color: #f1b939;
}
.side-drawer-title-div > h3 {
  color: #3b2819;
}
.close-drawer-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
}
.select-pet-attribute-sction-select-grooming-mainDiv {
  overflow: hidden;
}
.select-pet-attribute-sction-select-grooming-mainDiv > div > p {
  font-size: 22px;
}
.select-pet-attribute-sction-select-grooming-mainDiv > div:nth-child(1) {
  background-color: #3b2819;
  color: #fff;
  height: 80px;
  width: 210px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.select-pet-attribute-sction-select-grooming-mainDiv > div:nth-child(2) {
  background-color: #fff;
  color: #3b2819;
  height: 80px;
  width: 210px;
  border: solid 3px #3b2819;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.select-pet-attribute-sction-select-partner-pet-heading-div > h2,
.select-pet-attribute-sction-select-pet-size-heading-div > h2 {
  color: #d6394a;
}

.select-pet-attribute-sction-select-partner-pet-main-div > div:nth-child(1) {
  width: 150px;
  height: 150px;
  background: #f1b939;
  border-radius: 75px;
  border: solid 3px #f1b939;
}
.select-pet-attribute-sction-select-partner-pet-main-div > div:nth-child(2) {
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 75px;
  border: solid 3px #f1b939;
}
.select-pet-attribute-sction-select-pet-size-main-div > div:nth-child(2),
.select-pet-attribute-sction-select-pet-size-main-div > div:nth-child(3),
.select-pet-attribute-sction-select-pet-size-main-div > div:nth-child(4),
.select-pet-attribute-sction-select-pet-size-main-div > div:nth-child(5) {
  filter: blur(1px);
}
.select-pet-attribute-sction-select-pet-size-main-div > div > div > h5 {
  font-size: 16px;
}
.select-pet-size-image-div-0,
.select-pet-size-image-div-1,
.select-pet-size-image-div-2,
.select-pet-size-image-div-3,
.select-pet-size-image-div-4 {
  width: 50px;
  border: solid 2px #f1b939;
}
.select-pet-size-image-div-0 {
  height: 70px;
}
.select-pet-size-image-div-1 {
  height: 90px;
}
.select-pet-size-image-div-2 {
  height: 110px;
}
.select-pet-size-image-div-3 {
  height: 130px;
}
.select-pet-size-image-div-4 {
  height: 150px;
}

.subscription-features-div {
  border: solid 2px #3b2819;
  border-radius: 25px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.subscription-features-div:hover {
  border-color: #f1b939;
}
.subscription-check-bone-div {
  transform: rotate(-45deg);
  color: #f1b939;
}
.subsctiption-list-div > div > p {
  font-size: 18px;
  font-weight: 600;
  color: #3b2819;
}
.buy-subscription-button-div > div {
  background-color: #f1b939;
  color: #3b2819;
}
.buy-subscription-button-div > div > button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-weight: 700;
  color: #3b2819;
}
.book-now-button-div {
  background-color: #d6394a;
  padding: 5px 10px;
  border-radius: 25px;
}
.book-now-button-div > button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #fff;
}

.terms-and-conditions-heading-div > h6 {
  color: #d6394a;
}

.about-our-services-section {
  background-color: #f2f2f2;
}
.about-our-services-section > .container > div {
  max-width: 80%;
}
.about-our-services-section-image-div > div {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 75px;
}
.about-our-services-section-content-div {
  padding-left: 25px;
}
.about-our-services-section-content-div > div > h2 {
  color: #d6394a;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 15px solid #fff;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-right: 15px solid #fff;
}
.carousel-title {
  background-color: #d6394a;
  height: 70px;
}
.carousel-title > div > h2 {
  color: #fff;
}
.owl-nav {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-83.25px) !important;
  min-width: 110%;
  display: flex;
  justify-content: space-between;
  left: -5%;
}
.owl-nav > button {
  color: #f1b939 !important;
  font-size: 125px !important;
}
.owl-nav > button:focus {
  outline: none;
}
